name: Deploy Cloudflare Worker

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Deploy Worker
    runs-on: ubuntu-latest

    # Para no estar haciendo "cd" a mano
    defaults:
      run:
        working-directory: lumiere-api

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci          # o "npm install" si no usas package-lock

      - name: Deploy Worker with Wrangler
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        run: npx wrangler deploy
        # si prefieres seguir con global: "wrangler deploy"

